table, th, td {
    font-family: 'Courier New', Courier, monospace;
    border:1px solid black;
    text-align: center;
}

table{
    border-collapse: collapse;
    position: relative;
    margin-left:10%; 
    margin-right:10%;
}

.about{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: relative;
    margin-left:10%; 
    margin-right:10%;
}